<% @airbenders.each do |airbender| %>
binding.pry
  <h2>Airbender name: <%= airbender.name %> </h2><br>
  <p>Airbender description: <%= airbender.description %> </p><br>
  <p>Airbender directions: <%= airbender.directions %> </p><br>
  <p>Airbender hours_of_operation: <%= airbender.hours_of_operation %> </p><br>
<% end %>
